.LoginPage {

}

.loginForm{
	padding-top: 32vH;
}

@media screen and (max-height: 480px) {
	.loginForm{
		padding-top: 15vH;
	}
}

.loginButton{
	margin: 20px 0px 0px 0px;
	text-align: center;
}

.registerButton{
	position: fixed;
	bottom: 5vH;
	width: 90vW;
	max-width: 400px;
}

.socialLogin{
	margin-top: 20px;
	text-align: center;

}
