.App {
  height: 100vH;
  background: radial-gradient(at left 50%,  #313D50 30%, #1B2028 90%);
}

.App-container{
  width:90vW;
  margin: auto;
  max-width: 400px;
}

.App-logo-container {
  top: 10vH;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  width: 100px;
}

.App-logo {
  width: 100%

}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
