.App {
  height: 100vH;
  background: radial-gradient(at left 50%,  #313D50 30%, #1B2028 90%);
  overflow-x:hidden;
  overflow-y:hidden;
}

.App-container{
  width:90vW;
  margin: auto;
  max-width: 400px;
}

.App-logo-container {
  top: 6vH;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  width: 70px;
}

.App-logo {
  width: 100%
}

.App-card-container {
  position: absolute;
  top: 32vH;
}

.App-card {
  width: 100%
}

.App-card-user {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}
.App-card-username{
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  font-weight: 400;
}
.App-card-totalpoints-right{
  letter-spacing: 5px;
  font-size: 1em;
  top: 45%;
  position: absolute;
  right: 20px;
  color: #CC8F1B;
  font-weight: 500;

}

.App-card-totalpoints-left{
  letter-spacing: 5px;
  font-size: 1em;
  top: 45%;
  width: 90px;
  position: absolute;
  left: 20px;
  text-align: right;
  color: #CC8F1B;
  font-weight: 500;

}





.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
