.footerNavigation{
	position: fixed;
	bottom: 5vH;
	width: 90vW;
	max-width: 400px;
}

.prestigeButton{
	top: -30px;
}

.appVersion{
	position: fixed;
	font-size: 9px;
	color: white;
	bottom: 10px;
	margin: auto;
	left: 15px;
}